

#usuarioLogin{

    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.navbar-brand{

    background-image: "../imagenesFondo/logo autolavado.png";

}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

#textLogin{

    color: lavender;
    font-family: Arial;
    font-size:smaller;
    text-align: right;


}

.navbar{
    position: sticky;
    top: 0%;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 30vh;
}

.contenedor-imagen img {
    
	width: 100%;
	height: 50%;
	vertical-align: top;
	object-fit: fill;
	object-position: 0 bottom;
}

body{

    background-image: url("../imagenesFondo/fondo2.jpg");
    background-size: cover;
}







